@{
    ViewData["Title"] = "Home Page";
}



@using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" value="Get" />
   
        //var ls = (List<string>)TempData["id"];
        <h2>@TempData["id"]</h2>
   
}