@{
    ViewData["Title"] = "Home Page";
}



@using (Html.BeginForm("sendGet", "Home"))
{
    <input type="submit" value="Get" />
    
    /*
    @if (Model == null)
    {
        <h1>Access token = null</h1>
    }
    else
    {
        <h1>Access token is </h1>
    }*/
}
